body {
  max-width: 1800px;
  background: #202632;
}

.container {
  display:flex; flex-direction: column;
  align-items: center; text-align: center;
  margin-top: 20vh; margin-left: 32%;
  background-color: #313a49;
  width: 600px; height: 50%;
  border-radius: 70px; border: 2px solid transparent;
  padding: 10px 10px 10px 10px;
}

.diceid-colorize {animation: diceid-color 2s ease-out;}
@keyframes diceid-color {0% {color:white;}50% {color: rgb(20, 181, 23);}100% {color: white;}}

.voiceid-colorize {animation: voiceid-color 2s ease-out;}
@keyframes voiceid-color {0% {color:white;}50% {color: rgb(211, 13, 218);}100% {color: white;}}

.animate-border-dice {
  animation: colorize-border-dice 2.5s ease-out;
  animation-fill-mode: forwards;
}

@keyframes colorize-border-dice {
  0% {border-color: transparent;}
  50% {border-color: lime;}
  100% {border-color: transparent;border-radius: 70px;}
}

.animate-border-voice {
  animation: colorize-border-voice 2.5s ease-out;
  animation-fill-mode: forwards;
}

@keyframes colorize-border-voice {
  0% {border-color: transparent;}
  50% {border-color: rgb(190, 76, 208);}
  100% {border-color: transparent;border-radius: 70px;}
}

.dicebutton {
  position:absolute;
  background-color: #313a49; color: black;
  font-style: bold;
  padding: 20px 20px 20px 20px;
  border-radius: 70px; border: 2px solid #313a49;
  margin-top: 340px ; margin-left: -200px;
}

.voicebutton {
  position:absolute;
  background-color: #313a49; color: black;
  font-style: bold;
  padding: 20px 20px 20px 20px;
  border-radius: 70px; border: 2px solid #313a49;
  margin-top: 340px ; margin-left: 200px;
}

.dicebtn-color {animation: dicebtnchange-background 3s forwards;}
@keyframes dicebtnchange-background {0% {background-color: #4f713b;}100% {background-color: #313a49;}}

.voicebtn-color {animation: voicebtnchange-background 3s forwards;}
@keyframes voicebtnchange-background {0% {background-color: #5c2c64;}100% {background-color: #313a49;}}

.image1 {
  padding-top: 20%;
  margin-bottom: 10%;
}

.btnimage {
  object-fit: cover; 
  height: -20px;
  width: 40px;
  background-color: transparent;
  background-image: none;
}

.adviceid {
  font-size: 30px; text-decoration: dashed;
  margin-top: 60px; padding: 10px 10px 10px 10px;
  height:fit-content; width:fit-content;
  color: white;
}

.advicemsg {
  font-size: 30px; text-decoration: dashed;
  margin-top: 10px; padding: 10px 10px 10px 10px;
  height:40px; width:fit-content;
  color: rgb(255, 255, 255);
}